[Desktop Entry]
Version=1.0
Type=Link
Name=Applications / pamac · GitLab
Comment=
Icon=user-bookmarks
URL=https://gitlab.manjaro.org/applications/pamac
